<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>	MyPage - <%- title %> </title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Gowun+Dodum&family=Playwrite+CO+Guides&display=swap');

        a{
            color: black;
            font-weight: bolder;
            text-decoration:none;
        }a:hover{
            color: rgb(255, 255, 255);
        }
    
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0; 
    
            font-family: "Gowun Dodum", serif;
            font-weight: 400;
            font-style: normal;
    
        }
    
        .box_error_status{
            border-radius: 10px;
            width: 500px;
    
        }.box_error_status_1 div{
            display: flex;
            justify-content: center;
            font-weight:bolder;
            font-size: 24px;
        }.status_div{
            display: flex;
    
            font-size: 80px;
            justify-content: center;
            color: rgb(178, 224, 193);
    
            margin-bottom: 20px;
        }
        
        .box_error_status_2{
            background-color: rgb(178, 224, 193);
            border-radius: 10px;
            display: grid;
            grid-gap: 10px;
            padding: 10px;
            margin-top: 10px;
    
            font-family: 'Dongle', sans-serif;
            font-weight: 400;
            font-size: 25px;
    
        }.box_error_status_2 div{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        @media (max-width: 768px){

            .box_error_status{
                border-radius: 10px;
                width: 100%;
            }.box_error_status_1 div{
                font-size: 20px;
            }
        }
    
    </style>   
</head>
<body>
    <div>
        <div class="box_error_status">
            <% switch(returnStatus){ case 500 : %>
                <div class="status_div"> <%= returnStatus %></div>
                <div class="box_error_status_1">
                    <div> 서버 내부에서 오류가 발생했습니다.</div>
                    <div>Internal Server Error</div>
                </div>
            <% break; case 400 : %>
                <div class="status_div"> <%= returnStatus %></div>
                <div class="box_error_status_1">
                    <div> 잘못된 요청 구문, 유효하지 않은 요청</div>
                    <div> Bad Request </div>
                </div>
            <% break; case 401 : %>
                <div class="status_div"> <%= returnStatus %></div>
                <div class="box_error_status_1">
                    <div> 세션, 인증 정보가 만료되었습니다.</div>
                    <div> Unauthorized Error </div>
                </div>
            <% break; case 403 : %>
                <div class="status_div"> <%= returnStatus %></div>
                <div class="box_error_status_1">
                    <div> 접근 권한이 없습니다.</div>
                    <div> Forbidden Error </div>
                </div>
            <% break; default : %>
                <div class="status_div"> <%= returnStatus %></div>
                <div class="box_error_status_1">
                    <div> 존재하지 않은 페이지입니다.</div>
                    <div> Page Not Found </div>
                </div>
            <% } %>

            <div class="box_error_status_2">
                <div><a href="/popular">인기</a></div>
                <div><a href="/info">정보</a></div>
                <div><a href="/qa">질문</a></div>
                <div><a href="/life">생활</a></div>
                <div style=" border-top: 4px solid rgba(255, 255, 255, 0.797)"><a href="/">메인으로 돌아가기</a></div>
            </div>
        </div>
    </div>
</body>
</html>