
<% title = Content.title %>

<link rel="stylesheet" href="/public/css/forum_detail.css">


<div class="box">

    <p> 
        <% switch ( returnURL.pagetype ) { case 'qa': %><a href="/qa" style="color: #4c705a;">Q & A</a>
        <%; break; case 'info': %> <a href="/info" style="color: #4c705a;">정보</a>
        <%; break; case 'life': %> <a href="/life" style="color: #4c705a;">생활</a>
        <%; break; default : %>	<a href="/popular" style="color: #4c705a;">인기</a>
        <%}%>
    </p>


    <div class="forum_detail_box">

        <div id="forum_detail_user">
            <div><a class="user_href" id="forum_detail_user_nickname" href="/user/<%= Content.user_id %>"><%= Content.nickname%></a></div>
            <div><span><b>·</b></span></div>
            <div class="detail_date" style="font-size: 14px;"><span id="forum_detail_post_date"><%= Content.date_create %></span></div>
            <div><span><b>·</b></span></div>
            <div><img src="/public/img/eye-icon.png" width="15px" alt="view_icon"><span id="forum_detail_view_count">&nbsp;<%= Content.view_count %></span></div>
        </div>
        
        <div class="forum_detail_title_box" style="font-size: 18px; margin-bottom: 5px; font-weight: bold;" ><%= Content.title %></div>


        <div class="forum_detail_text_box">
            <div id="forum_detail_text"
            style="padding: 10px; overflow-y: auto;"
            role="textbox" aria-multiline="true">
                <%- Content.text%>
            </div>
        </div>
        
        <br>

        <div class="forum_detail_ctl">
            <% if (userId == Content.user_id) {%>
                <div class="forum_detail_ctl_edit">
                    <a href="/post/edit/<%= Content.id %>">
                        <button type="button" class="forum_button_2">수정</button>
                    </a>
                    <button type="button" class="forum_button_2" onclick="setContent_delete('<%=Content.content_type%>','<%= Content.id %>')">삭제</button>
                </div>
            <% } %>
            <div class="forum_detail_ctl_return">           
                <a href="/<%= returnURL.pagetype %>?page=<%= returnURL.page %>"><button type="button" class="forum_button_2">목록</button></a>
            </div>
        </div>

        <div class='forum_detail_comment'>
            <div>
                <% if (userId) {%>
                    <div class="comment_box">
                        <div class="comment_text" contenteditable="true" 
                            aria-required="true"  aria-multiline="true" 
                            spellcheck="true"></div>
                        <input type="hidden" class="comment_box_content_id" value="<%= Content.id%>">

                        <div>
                            <button type="button" 
                            class="comment_submit">
                                댓글 작성
                            </button>
                        </div>
                    </div>
                <% } else { %>
                    <div style="width: 100%; height: 70px; border: 1px solid rgb(148, 148, 148); border-radius: 5px; padding: 10px; ">
                        댓글을 작성하려면 <a href="/login">로그인</a>을 해주세요.
                    </div>
                <% } %>
            </div>

            
            <div>
                <%if ( Comment_Info.Count ) {%>
                    <div class="comment_label">
                        총 <%= Comment_Info.Count %> 개의 댓글
                    </div>
                    <ul class="comment_list_div">
                        <% Comment_Info.Comments.forEach(row => { if( row.visible.toString('hex') === '01' || row.children.length ) {%>
                            <li>
                                <div>
                                    <div class="comment_container">
                                        <input type="hidden" class='comment_id_hidden' value="<%= row.id %>">
                                        <div style="display : flex; width: 100%;">
                                            <div style="flex: 3;">
                                                <% if (Content.user_id === row.user_id) {%>
                                                    <span style="font-size: 11px; color: rgb(23, 116, 5); border: 1px solid rgb(11, 223, 11); border-radius: 5px ; padding: 2px;">작성자</span>&nbsp;
                                                <% } %>
                                                <a class="user_href" href="/user/<%= row.user_id %>"><%= row.nickname %></a><span><b>&nbsp;·&nbsp;</b></span><%= row.create_at %>
                                            </div>
                                            <div style="flex: 1; display: flex; justify-content: right;">
                                                <% if (userId === row.user_id && row.visible.toString('hex') === '01') {%>
                                                    <button type="button" class="comment_modify">수정</button></a>
                                                    <span>&nbsp;<b>·</b>&nbsp;</span>
                                                    <button type="button" class="comment_delete">삭제</button>
                                                <%}%>        
                                            </div>
                                        </div>
                                        <div>
                                            <div class="pre_comment"
                                            style="padding-left: 10px; overflow-y: auto;"
                                            role="textbox" aria-multiline="true">
                                                <%- row.comment %>
                                            </div>
                                        </div>
                                    </div>
                                    <% if (userId) {%>
                                        <div> 
                                            <button type="button" 
                                                    class="create_subcomment_button"
                                                    style="font-size: 11px; color: #868585; border: none; background-color: white;">
                                                + 댓글 쓰기
                                            </button>
                                        </div>
                                    <% } %>
                                    <div class="create_subcomment_div" style="padding: 5px;">
                                        <input type="hidden" class="comment_parent_nickname" value="<%= row.nickname %>">
                                        <input type="hidden" class="comment_parent_id" value="<%= row.id %>">
                                        <div class="comment_form"></div>
                                    </div>
                                </div>
                                <% if (row.children.length) { %>
                                    <ul style="margin-left : 15px;">
                                        <% row.children.forEach( children => {%>
                                            <li>
                                                <div>
                                                    <div class="comment_container">
                                                        <input type="hidden" class="comment_id_hidden" value="<%= children.id %>">
                                                        <div style="display : flex; width: 100%;">
                                                            <div style="flex: 3;">
                                                                <% if (Content.user_id === children.user_id) {%>
                                                                    <span style="font-size: 11px; color: rgb(23, 116, 5); border: 1px solid rgb(11, 223, 11); border-radius: 5px ; padding: 2px;">작성자</span>&nbsp;
                                                                <% } %>
                                                                <a class="user_href" href="/user/<%= children.user_id %>"><%= children.nickname %></a><span><b>&nbsp;·&nbsp;</b></span><%=children.create_at %>
                                                            </div>
                                                            <div style="flex: 1; display: flex; justify-content: right;">
                                                                <% if (userId === children.user_id && children.visible.toString('hex') === '01') {%>
                                                                    <button type='button' class="comment_modify">수정</button></a>
                                                                    <span>&nbsp;<b>·</b>&nbsp;</span>
                                                                    <button type='button' class="comment_delete">삭제</button>
                                                                <%}%>        
                                                            </div>
                                                        </div>
                                                        <div style='margin-bottom : 2px;'>
                                                            <div class="pre_comment"
                                                            style="padding-left: 10px;  overflow-y: auto;"
                                                            role="textbox" aria-multiline="true">
                                                                <%- children.comment %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% if (userId) {%>
                                                    <div>
                                                        <button type="button" class="create_subcomment_button" 
                                                        style="font-size: 11px; color: #868585; border: none; background-color: white;">
                                                            + 댓글 쓰기
                                                        </button>
                                                    </div>
                                                    <% } %>
                                                    <div class="create_subcomment_div">
                                                        <input type="hidden" class="comment_parent_nickname" value="<%= children.nickname %>">
                                                        <input type="hidden" class="comment_parent_id" value="<%= row.id %>">
                                                        <div class="comment_form"></div>
                                                    </div>
                                                </div>
                                            </li>
                                        <% });%>
                                    </ul>
                                <% } %>
                            </li>
                        <%} });%>
                    </ul>
                <%}%>
            </div>
        </div>
    </div>



    <div class="forum_detail_box">
        <div style="display: flex;">
            <div style="min-width: 100px;">
                <div style="font-size: 20px; font-weight: bold; color:rgb(161, 201, 176);">
                    <% switch (returnURL.pagetype) { case 'qa': %>  Q & A
                    <%; break; case 'info': %> 정보
                    <%; break; case 'life': %> 생활
                    <%; break; default : %>	인기
                    <%}%>
                </div>
                게시판 목록 
             </div>
             <div style="width: 100%; display: flex; align-items: center; justify-content: right;">

                <% if (nickname && (pagetype !== "popular")) { %>
                    <div>
                        <a href="/<%= Content.content_type %>/edit"><button class="forum_button" >글쓰기</button></a>
                    </div>
                <% }else if (pagetype !== "popular") {%>
                    <div>
                        <a href="/login"><button class="forum_button">글쓰기</button></a>
                    </div>
                <%} else {}%>
             </div>
        </div>
          
        <div style="margin-top: 15px;">
            <ul id="content_list">
            </ul>
        </div>    

        <div id="page_box">
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/dompurify@2.4.0/dist/purify.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        reloadPage("<%= returnURL.pagetype %>","<%= returnURL.page %>");
    });
    const nav_button = document.getElementById("<%= pagetype %>");
	const mobile_nav_button = document.getElementById("mobile_<%= pagetype %>");
	mobile_nav_button.setAttribute('style','border-bottom: 2px solid rgb(161, 201, 176);');
	nav_button.setAttribute('style','border-bottom: 2px solid rgb(161, 201, 176);');
</script>

<script src="/public/js/forum_detail_util.js"></script>
<script src="/public/js/forum_detail_list.js"></script>
<script src="/public/js/forum_detail_comment.js"></script>