<!-- templates/forum_detail -->

<% title = Contents.title; %>
<head>
    <script src="/public/js/forum_detail_util.js"></script>
    <script src="/public/js/forum_detail_list.js"></script>
    <script src="/public/js/forum_detail_comment.js"></script>
</head>

<!-- <div class="endbox">

</div> -->


<p> 
    <% switch (recall_pagetype) { case 'qa': %><a href="/qa" style="color: #4c705a;">Q & A</a>
    <%; break; case 'info': %> <a href="/info" style="color: #4c705a;">정보</a>
    <%; break; case 'life': %> <a href="/life" style="color: #4c705a;">생활</a>
    <%; break; default : %>	<a href="/popular" style="color: #4c705a;">인기</a>
    <%}%>
</p>

<div class="forum_detail_box">

    <!-- 게시자 정보 -->
    <div id="forum_detail_user">
        <div><a class="user_href" href="/user/<%= Contents.user_id %>"><%= Contents.nickname %></a></div>
        <div><span><b>·</b></span></div>
        <div class="detail_date" style="font-size: 14px;"><span><%= Contents.date_create%> 작성</span></div>
    </div>
    <!-- 게시물 작성일 -->
    
    <!-- 게시물 타이틀 -->
    <div class="title_forum"><h1><%= Contents.title %></h2></div>
    <!-- 게시물 내용 -->
    <div class="text_forum">
        <pre><%= Contents.text %></pre>
    </div><br>

    
   <!-- 페이지 조작 버튼 -->
    <div class="forum_detail_ctl">
        <% if (userId == Contents.user_id) {%>
        <div class="forum_detail_ctl_edit">
            <a href="/<%= Contents.content_type %>/edit?contentid=<%= Contents.id %>"><button type="button" class="forum_button_2">수정</button></a>
            <button type="button" class="forum_button_2" onclick="setContent_delete('<%=Contents.content_type%>','<%= Contents.id %>')">삭제</button>
        </div>
        <% } %>
        <div class="forum_detail_ctl_return">           
            <a href="/<%= recall_pagetype %>?page=<%= page %>"><button type="button" class="forum_button_2">목록 돌아가기</button></a>
        </div>
    </div>


    <!-- 댓글 구현 영역 -->
    <div class="forum_comment_box">
        <!-- 작성 -->
        <div>
            <% if (userId) {%>
                <form action="/reply/<%= Contents.id %>/" method="POST" id="form1">
                    <textarea class="comment_text" name="comment_text" maxlength="250" wrap="hard" placeholder = '댓글 입력...' oninput="autoheight(this)" required></textarea> 
                    <div><button type="submit" class="forum_button_2" form="form1">댓글 작성</button></div>
                </form> 
            <% } else { %>
                <div style="width: 100%; height: 100px; border: 2px solid rgb(148, 148, 148); border-radius: 5px; padding: 10px; ">
                    댓글을 작성하려면 <a href="/login">로그인</a>을 해주세요.
                </div>
            <% } %>
        </div>

        <!-- 표시 -->
        <div>
            <%if (comments.length) {%>
                <ul class="comment_list_div">
                    <% comments.forEach(row => { if( row.visible.toString('hex') === '01' || row.children.length ) {%>
                        <li>
                            <div>
                                <div class="comment_container">
                                    <input type="hidden" class='comment_id_hidden' value="<%= row.id %>">
                                    <div style="display : flex; width: 100%;">
                                        <div style="flex: 3;">
                                            <% if (Contents.user_id === row.user_id) {%>
                                                <span style="font-size: 11px; color: rgb(23, 116, 5); border: 1px solid rgb(11, 223, 11); border-radius: 5px ; padding: 2px;">작성자</span>&nbsp;
                                            <% } %>
                                            <a class="user_href" href="/user/<%= row.user_id %>"><%= row.nickname %></a><span><b>&nbsp;·&nbsp;</b></span><%= row.create_at %>
                                        </div>
                                        <div style="flex: 1; display: flex; justify-content: right;">
                                            <% if (userId === row.user_id && row.visible.toString('hex') === '01') {%>
                                                <button type="button" class="comment_edit">수정</button></a>
                                                <button type="button" class="comment_delete">삭제</button>
                                            <%}%>        
                                        </div>
                                    </div>
                                    <div style='margin-bottom : 20px;'><pre class="pre_comment"><%= row.comment %></pre></div>
                                </div>
                                <% if (userId) {%>
                                    <div><button type="button" class="create_subcomment_button" style="font-size: 11px; color: #868585; border: none; background-color: white;">+ 댓글 쓰기</button></div>
                                <% } %>
                                <div class="create_subcomment_div">
                                    <input type='hidden' class='comment_nickname' value=''>
                                    <form action="/reply/<%= row.content_id %>/<%= row.id %>" method="POST" class="comment_form">
                                    </form> 
                                </div>
                            </div>
                            <% if (row.children.length) { %>
                                <ul style="margin-left : 30px;">
                                    <% row.children.forEach( children => {%>
                                        <li>
                                            <div>
                                                <div class="comment_container">
                                                    <input type="hidden" class="comment_id_hidden" value="<%= children.id %>">
                                                    <div style="display : flex; width: 100%;">
                                                        <div style="flex: 3;">
                                                            <% if (Contents.user_id === children.user_id) {%>
                                                                <span style="font-size: 11px; color: rgb(23, 116, 5); border: 1px solid rgb(11, 223, 11); border-radius: 5px ; padding: 2px;">작성자</span>&nbsp;
                                                            <% } %>
                                                            <a class="user_href" href="/user/<%= children.user_id %>"><%= children.nickname %></a><span><b>&nbsp;·&nbsp;</b></span><%=children.create_at %>
                                                        </div>
                                                        <div style="flex: 1; display: flex; justify-content: right;">
                                                            <% if (userId === children.user_id && children.visible.toString('hex') === '01') {%>
                                                                <button type='button' class="comment_edit">수정</button></a>
                                                                <button type='button' class="comment_delete">삭제</button>
                                                            <%}%>        
                                                        </div>
                                                    </div>
                                                    <div style='margin-bottom : 2px;'><pre class="pre_comment"><%= children.comment %></pre></div>
                                                </div>
                                                <% if (userId) {%>
                                                    <div><button type="button" class="create_subcomment_button" style="font-size: 11px; color: #868585; border: none; background-color: white;">+ 댓글 쓰기</button></div>
                                                <% } %>
                                                <div class="create_subcomment_div">
                                                    <input type='hidden' name='comment_nickname' value='<%= children.nickname %>' >
                                                    <form action="/reply/<%= row.content_id %>/<%= row.id %>" method="POST" class="comment_form" >
                                                    </form> 
                                                </div>
                                            </div>
                                        </li>
                                    <% });%>
                                </ul>
                            <% } %>
                        </li>
                    <%} });%>
                </ul>
            <%}%>
        </div>
    </div>
</div>



<div class="forum_detail_box">
    <h3>    
        <% switch (recall_pagetype) { case 'qa': %>  Q & A
        <%; break; case 'info': %> 정보
        <%; break; case 'life': %> 생활
        <%; break; default : %>	인기
        <%}%>게시판 
        목록 </h5>
    <div>
        <ul id="content_list">
        </ul>
    </div>    

    <div id="page_box">
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function(){
        reloadPage("<%= recall_pagetype %>","<%= page %>");
        editcomment();
        loadedcomment();
    });

</script>

<style>

/* 게시물 내용 전체 */
.forum_detail_box{
    margin: 10px;

    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 20px;

}

/* 유저 정보란 */
#forum_detail_user{
    display: flex;
    font-size: 15px;
}
#forum_detail_user div{
    margin-right: 10px;
}

/* 게시물 본문 */
.text_forum{
    min-height: 800px;

    padding-top: 20px;
    border-top: 1px solid rgb(99, 98, 98);
    border-bottom: 1px solid rgb(99, 98, 98);
}

.forum_detail_ctl{
    display: flex;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid rgba(99, 98, 98, 0.322);
}.forum_detail_ctl_edit {
    flex : 1;
}.forum_detail_ctl_return {
    flex : 1;
    display: flex;
    justify-content: right;
}

#page_box{
    width: 100%;
}

#page_box button {
    font-size: 15px;
    background-color:white;
    border: none ;
}#page_box button:hover {
    color: rgb(119, 121, 120);
    cursor: pointer;
}
#page_box button:disabled {
    color: rgb(119, 121, 120);
    cursor: default;
}
#page_box_center button:hover {
    color: rgb(128, 175, 152);
}#page_box_center button:disabled {
    color: rgb(128, 175, 152);
}
.button_comment_cancel{
    height: 30px;
    font-size: 13px;
    background-color: rgb(226, 231, 228);
    border-radius: 5px;
    border: none;
    white-space : nowrap;
    margin-right: 10px;
}

.comment_text{
    width: 100%;
    min-height: 70px;
    max-height: 800px;

}	
/* 목록 스타일 */
ul {
    list-style-type: square;
    padding: 5px;
}

ul li {
    padding: 5px;
    font-size: 13px;
    min-height: 30px;
    list-style-type: none ;
    border-top: 2px solid rgba(167, 163, 163, 0.521);
}


/* 게시물 li 내부 박스 */
.forum_list_box_content {
    margin-top: 10px;
    display: block;
    height: 50px;
    background-color: rgba(155, 52, 52, 0);
    border-radius: 3px;
}
/* 게시물 제목 라인 박스 */
#forum_list_box_detail {
    display: grid;
    grid-template-columns: 85% 15%;
    font-size: 16px;
    margin-top: 5px;

}#forum_list_box_detail div{
    white-space: nowrap;      /* 텍스트를 한 줄로 유지 */
    overflow: hidden;         /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis;  /* 넘치는 부분을 '...'으로 표시 */
}


.create_subcomment_div{
    padding: 5px;
}


p{
    /* 중앙정렬, 선 */
    color: rgb(99, 98, 98);
    display: flex;
    align-items: center;
}
p::before{
    border-bottom: 1px solid rgb(99, 98, 98);
    flex: 11;
    content: "";
    margin: 0 10px;
}
p::after{
    border-bottom: 1px solid rgb(99, 98, 98);
    flex: 1;
    content: "";
    margin: 0 10px;
}
span{
    color: #868585;;
}

pre{
    padding-right: 10px;
    white-space: pre-wrap;
}

.comment_delete, .comment_edit{
    font-size: 11px; color: #868585; 
    border: none; 
    background-color: white;
}
button:hover{
    cursor: pointer;
}
    
</style>