<% title = "Main" %>

<head>
	<link rel="stylesheet" href="/public/css/forum_main.css">
</head>

<div class="sidebox" id="left_sidebox">
</div>

<div class="box">
	<div class="endbox">
		<a href="/popular"><h2>인기</h2></a>
		<% if (Popular.length) { %>
		<ul>
			<% Popular.forEach( popular => {%>
			<li>
				<div class="main_contents_list_box">
					<div><a class="user_href" href="/user/<%= popular.user_id %>"><%= popular.nickname %></a><span><b>&nbsp;·&nbsp;</b></span><%= popular.date_create %></div>
					<div class="list_title_box">
						<div><a href="/<%=popular.content_type %>/<%= popular.id %>"><%= popular.title %></a></div>
						<div class="post_list_info">  
							<img src="public/img/comment-icon.png" width="13px" style="object-fit:contain;">&nbsp;<%= popular.comment_count ? popular.comment_count : 0 %>
							&nbsp;<span><b>·</b></span>&nbsp;
							<img src="public/img/eye-icon.png" width="13px" style="object-fit:contain;">&nbsp;<%= popular.view_count %>
						</div>
					</div>
				</div>
			</li>
			<% }); %>
		</ul>
		<% } else { %>
			<span> 게시글이 존재하지 않습니다. </span>
		<% } %>
	</div>	

	<div class="endbox">
		<a href="/info"><h2>정보</h2></a>
		<% const Info_Contents = Contents.filter( content => content.content_type === "info") %>
		<% if ( Info_Contents.length){%>
		<ul>
			<% Info_Contents.forEach( content => { %>
				<li>
					<div class="main_contents_list_box">
						<div><a class="user_href" href="/user/<%= content.user_id %>"><%= content.nickname %></a><span><b>&nbsp;·&nbsp;</b></span><%= content.date_create %></div>
						<div class="list_title_box">
							<div><a href="/<%= content.content_type%>/<%= content.id%>"><%= content.title %></a></div>
							<div class="post_list_info">  
								<img src="public/img/comment-icon.png" width="13px" style="object-fit:contain;">&nbsp;<%= content.comment_count ? content.comment_count : 0 %>
								&nbsp;<span><b>·</b></span>&nbsp;
								<img src="public/img/eye-icon.png" width="13px" style="object-fit:contain;">&nbsp;<%= content.view_count %>
							</div>
						</div>
					</div>
				</li>
			<% }); %>
		</ul>
		<% } else { %>
		<span> 게시물이 존재하지 않습니다.</span>
		<% } %>
	</div>	
	
	<div class="endbox">
		<a href="/qa"><h2>Q&A</h2></a>
		<% const Qa_Contents = Contents.filter( content => content.content_type === "qa") %>
		<% if ( Qa_Contents.length){%>
		<ul>
			<% Qa_Contents.forEach( content => { %>
				<li>
					<div class="main_contents_list_box">
						<div><a class="user_href" href="/user/<%= content.user_id %>"><%= content.nickname %></a><span><b>&nbsp;·&nbsp;</b></span><%= content.date_create %></div>
						<div class="list_title_box">
							<div><a href="/<%= content.content_type%>/<%= content.id%>"><%= content.title %></a></div>
							<div class="post_list_info">  
								<img src="public/img/comment-icon.png" width="13px" style="object-fit:contain;">&nbsp;<%= content.comment_count ? content.comment_count : 0 %>
								&nbsp;<span><b>·</b></span>&nbsp;
								<img src="public/img/eye-icon.png" width="13px" style="object-fit:contain;">&nbsp;<%= content.view_count %>
							</div>
						</div>
					</div>
				</li>
			<% }); %>
		</ul>
		<% } else { %>
			<span> 게시물이 존재하지 않습니다.</span>
		<% } %>
	</div>

	<div class="endbox">
		<a href="/life"><h2>생활</h2></a>
		<% const Life_Contents = Contents.filter( content => content.content_type === "life") %>
		<% if ( Life_Contents.length){%>
		<ul>
			<% Life_Contents.forEach( content => { %>
				<li>
					<div class="main_contents_list_box">
						<div><a class="user_href" href="/user/<%= content.user_id %>"><%= content.nickname %></a><span><b>&nbsp;·&nbsp;</b></span><%= content.date_create %></div>
						<div class="list_title_box">
							<div><a href="/<%= content.content_type%>/<%= content.id%>"><%= content.title %></a></div>
							<div class="post_list_info">  
								<img src="public/img/comment-icon.png" width="13px" style="object-fit:contain;">&nbsp;<%= content.comment_count ? content.comment_count : 0 %>
								&nbsp;<span><b>·</b></span>&nbsp;
								<img src="public/img/eye-icon.png" width="13px" style="object-fit:contain;">&nbsp;<%= content.view_count %>
							</div>
						</div>
					</div>
				</li>
			<% }); %>
		</ul>
		<% } else { %>
			<span> 게시물이 존재하지 않습니다.</span>
		<% } %>
	</div>
</div>
<div class="sidebox">
	<div class="weather_info_box" id="moving_div">
		<h2>기상날씨</h2>
		<div class="weather_info" id="weather_box"></div>
	</div>
</div>

<script src="/public/js/forum_main.js"></script>
