<!-- sign_in.ejs ( 회원가입 ) -->


<% title = "signin";%>


<body>
    <%- include('layout/log_sign.ejs')%>
    <div class="login_box">
        <div style="display: flex; background-color: bisque;"><a href="/"> 메인 배너 </a></div>
        <p> SNS 회원가입 </p>
        <a class="button_login_github" href="/login/github">
            <img src="public/img/GitHub_Logo.png" width="70px" alt="github_logo">
            <img src="public/img/github-mark.png" width="30px" alt="github_logo">
        </a>
        <a class="button_login_naver" href="/login/naver">
            <img src="public/img/Naver-logo.png" height="30px" alt="Naver_login_img">
            <img src="public/img/Naver_login_text.png" height="25px" alt="Naver_text_img">
        </a>
        <p> 회원가입에 필요한 정보를 기입해주세요 </p>
        <form id='signin' action="/signup" method="POST">
            <div>
                아이디 
                <input type="text" id="username" name="username"  placeholder="4 ~ 15글자 이내로" value="<%= history ?  history.username : '' %>">    
                <span class="alert_span" id="error_id"></span>
            </div>

            <div>
                이메일 
                <input type="email" id="email" name="email"  placeholder="test@****.com" value="<%= history ?  ( history.social_email ? history.social_email : history.email ) : '' %>">
                <span class="alert_span" id="error_email"></span>
                <% if (request === "auth_signup_request") { %>
                    <span class="hint">  
                        *소셜 연동을 위해 동일한 이메일로 가입해주세요.
                        <br> ( 다른 이메일로 가입시 일반가입으로 처리됩니다. )
                    </span>
                <% } %>
            </div>  

            <div>
                닉네임 
                <input type="text" id="nickname" name="nickname"  placeholder="두 글자이상 15자 이내" value="<%= history ?  history.nickname : '' %>">
                <span class="alert_span" id="error_nk"></span>
            </div>  

            <div>
                비밀번호 
                <input type="password" id="password" name="password"  placeholder="8자 이상 영소문자 + 숫자 + 특수문자 조합">
                <span class="alert_span" id="error_pw"></span><br>
                <span class="hint">특수문자 [ !@#$%^&*()_+=- ] 사용가능</span>
            </div>  
            <div>
                비밀번호 확인
                <input type="password" id="password_check" name="password_check">
                <span class="alert_span" id="error_pwc"></span>
            </div>  

            <% if (request === "auth_signup_request") { %>
                <input type="hidden" name="request" value="<%= request %>">
            <% } %>

            <button type="submit">회원가입</button>
        </form>
    </div>  

    <% if (issue) {%>
        <div class="alertbox">
            <p>회원가입 실패</p>
            <span class="alert_span">
            <% if (issue === 'duplicated_user') { %>
                이미 사용중인 이메일 또는 아이디 입니다.
            <% } else {%>
                서버와 통신 중, 문제가 발생했습니다.
                <br>다시 시도해 주세요.
            <% } %>
            </span>
        </div>
    <% } %>

    <% if (request === "auth_signup_request") {%>
        <div class="alertbox">
            <p>알림</p>
            <span class="hint">
                소셜 계정을 연동하기 위한
                <br>회원가입을 진행해주세요.
            </span>
        </div>
    <% } %>


<script>
    //foam 전송 submit 처리시  function 실행 
    document.getElementById('signin').addEventListener('submit' , function(event){  
                // 체크 폼 항목 
        const Check_foam = [
            { id: 'username', errorspan: 'error_id', massage: '아이디를 입력해주세요' },
            { id: 'email', errorspan: 'error_email', massage: '이메일을 입력해주세요' },            
            { id: 'nickname', errorspan: 'error_nk', massage: '닉네임을 입력해주세요' },            
            { id: 'password', errorspan: 'error_pw', massage: '비밀번호를 입력해주세요' },            
            { id: 'password_check', errorspan: 'error_pwc', massage: '비밀번호 확인을 입력해주세요' },            
        ]

        let foam_check = true;

        const username = document.getElementById('username').value;
        const nickname = document.getElementById('nickname').value;
        const password = document.getElementById('password').value;
        const password_check = document.getElementById('password_check').value;

        // 정규식 *********
        const regex_username = /^[a-zA-Z0-9]{3,15}$/; // 대, 소문자 숫자 조합 최소 길이 3자, 최대길이 15자
        const regex_nickname = /^.{2,15}$/; // 2자 이상 15이하
        const regex_password = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d!@#$%^&*()_+=-]{8,}$/;
                                            // 소문자, 대문자, 특수문자 (!@#$%^&*()_+=-) 하나씩 포함하여 8 자 이상
        // 기본 공백 폼 체크
        Check_foam.forEach( row => {
            const error_span = document.getElementById(row.errorspan);
             
            if ( !document.getElementById(row.id).value ){
                error_span.textContent = row.massage;
                foam_check = false;
            } else {
                error_span.textContent = '';
            }
        });

        // 비밀번호 확인 체크
        if ( !(password === password_check)){
            document.getElementById('error_pwc').textContent = "확인 비밀번호가 불일치합니다.";
            foam_check = false;
        }

        // 아이디 조건 체크
        if ( !(regex_username.test(username)) ){
            document.getElementById('error_id').textContent = "대, 소문자, 숫자 조합으로 3자 이상 15자 이내로 입력";
            foam_check = false;
        }

        // 닉네임 조건 체크
        if ( !(regex_nickname.test(nickname)) ){
            document.getElementById('error_nk').textContent = "2자 이상 15자 이내로 입력";
            foam_check = false;
        }

        //비밀번호 조건 체크
        if ( !(regex_password.test(password)) ){
            document.getElementById('error_pw').textContent = "8자 이상 영소문자 + 숫자 + 특수문자 조합";
            foam_check = false;
        }

        //foam_check false일 경우 폼 전송 중지
        !foam_check && event.preventDefault();
    });
</script>
</body>