<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<!-- <% if( userId ){%>
		<meta name="csrf_token" content="<%= csrf %>">
	<% } %> -->
	<meta name="csrf_token" content="<%= csrf %>">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>	MyPage - <%- title %></title>
	<link rel="stylesheet" href="/public/css/forum.css">
</head>
<body>
	<%- include('header_nav.ejs')%>
	<div style="min-height: 1200px;">
		<div class="container">
			<%- body %>
		</div>
	</div>

	<%- include('footer_company.ejs') %>
</body>

<script>
	const user_csrf_token = document.querySelector('meta[name="csrf_token"]').content || null;
</script>
</html>
